# Ignore everything
*

# But include these files and directories
!README.md
!.gitignore
!kitty/
!kitty/**
!yabai-window-manager/
!yabai-window-manager/**
!aerospace-window-manager/
!aerospace-window-manager/**
!sketchybar/
!sketchybar/**
!doom/
!doom/**
!zshrc/
!zshrc/**
!opencode/
!opencode/**
!vimium/
!vimium/**
