# Reference: https://github.com/i3/i3/blob/next/etc/config

# Start AeroSpace at login
start-at-login = true

# i3 doesn't have "normalizations" feature that why we disable them here.
# But the feature is very helpful.
# Normalizations eliminate all sorts of weird tree configurations that don't make sense.
# Give normalizations a chance and enable them back.
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

# Mouse follows focus when focused monitor changes
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# Run Sketchybar together with AeroSpace
# sketchbar has a built-in detection of already running process,
# so it won't be run twice on AeroSpace restart
after-startup-command = [
    'exec-and-forget sketchybar',
]

# Notify Sketchybar about workspace change
exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

# Finder tabs also have difficulty with aerospace
[[on-window-detected]]
if.app-id = "com.apple.finder"
run = [
  "layout floating",
]

[mode.main.binding]
# See: https://nikitabobko.github.io/AeroSpace/goodies#open-a-new-window-with-applescript
alt-f = '''exec-and-forget osascript -e 'tell application "Finder"
    activate
    make new Finder window to folder "Documents" of home
end tell' '''

# i3 wraps focus by default
alt-left = 'focus --boundaries-action wrap-around-the-workspace left'
alt-down = 'focus --boundaries-action wrap-around-the-workspace down'
alt-up = 'focus --boundaries-action wrap-around-the-workspace up'
alt-right = 'focus --boundaries-action wrap-around-the-workspace right'

alt-shift-left = 'move left'
alt-shift-down = 'move down'
alt-shift-up = 'move up'
alt-shift-right = 'move right'

# Consider using 'join-with' command as a 'split' replacement if you want to enable normalizations
alt-h = 'split horizontal'
alt-v = 'split vertical'

alt-shift-w = 'close'
alt-shift-f = 'fullscreen'

alt-s = 'layout v_accordion' # 'layout stacking' in i3
alt-w = 'layout h_accordion' # 'layout tabbed' in i3
alt-e = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

# Disable annoying and useless "hide application" shortcut
cmd-h = [] # Disable "hide application"
cmd-alt-h = [] # Disable "hide others"

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
#alt-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-a = 'focus parent'

alt-backtick = 'workspace 0'
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'
alt-7 = 'workspace 7'
alt-8 = 'workspace 8'
alt-9 = 'workspace 9'
alt-0 = 'workspace 10'

alt-shift-backtick = 'move-node-to-workspace 0'
alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace 6'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-8 = 'move-node-to-workspace 8'
alt-shift-9 = 'move-node-to-workspace 9'
alt-shift-0 = 'move-node-to-workspace 10'

# Secondary workspaces (ctrl-alt based)
cmd-ctrl-backtick = 'workspace S0'
cmd-ctrl-1 = 'workspace S1'
cmd-ctrl-2 = 'workspace S2'
cmd-ctrl-3 = 'workspace S3'
cmd-ctrl-4 = 'workspace S4'
cmd-ctrl-5 = 'workspace S5'
cmd-ctrl-6 = 'workspace S6'
cmd-ctrl-7 = 'workspace S7'
cmd-ctrl-8 = 'workspace S8'
cmd-ctrl-9 = 'workspace S9'
cmd-ctrl-0 = 'workspace S10'

cmd-ctrl-shift-backtick = 'move-node-to-workspace S0'
cmd-ctrl-shift-1 = 'move-node-to-workspace S1'
cmd-ctrl-shift-2 = 'move-node-to-workspace S2'
cmd-ctrl-shift-3 = 'move-node-to-workspace S3'
cmd-ctrl-shift-4 = 'move-node-to-workspace S4'
cmd-ctrl-shift-5 = 'move-node-to-workspace S5'
cmd-ctrl-shift-6 = 'move-node-to-workspace S6'
cmd-ctrl-shift-7 = 'move-node-to-workspace S7'
cmd-ctrl-shift-8 = 'move-node-to-workspace S8'
cmd-ctrl-shift-9 = 'move-node-to-workspace S9'
cmd-ctrl-shift-0 = 'move-node-to-workspace S10'

alt-shift-c = 'reload-config'

alt-r = 'mode resize'

[workspace-to-monitor-force-assignment]
1 = '^DELL S2722QC$'
0 = '^DELL S2725QS$'
2 = '^DELL S2725QS$'
4 = '^DELL S2725QS$'

[mode.resize.binding]
left = 'resize width -50'
up = 'resize height +50'
down = 'resize height -50'
right = 'resize width +50'
enter = 'mode main'
esc = 'mode main'
